#esplaca{
    display: none;
}
#noesplaca{
    display: none;
    
}
#esfecha{
    display: none;
}
#noesfecha{
    display: none;
    
}
#esplacaimg{
    display: none;
}
#noesplacaimg{
    display: none;
    
}
#esfechaimg{
    display: none;
}
#noesfechaimg{
    display: none;
    
}